// Portfolio item 1 modal popup
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // Project details
                            h2.text-uppercase Thanatos
                            p.item-intro.text-muted VideoGame
                            img.img-fluid.d-block.mx-auto(src='https://images.unsplash.com/photo-1593118247619-e2d6f056869e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80', alt='...')
                            p Acción, aventura, un mundo en guerra y seres de otro planeta, ¿qué es lo que está ocurriendo en el mundo de Petrov para que lo que experimenta no sea la conquista de una ciudad como cualquier otra? La tierra estará envuelta en el conflicto más descabellado y cruento que hayan visto las tierras de Stanislav, donde fuerzas más grandes que reyes o emperadores se verán absorbidas de manera irreversible a las luchas por estar en el bando ganador.
                            ul.list-inline
                                li
                                    strong Client:
                                    | Threads
                                li
                                    strong Category:
                                    | Desarrollo de juegos
                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | Cerrar Proyecto